* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
}

body {
    position: relative;
    background-color: #f9f9f9;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    color: black;
    font-size: 18px;
    transition: 250ms;
}

a:hover {
    color: #FF803C;
}

button {
    background: none;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 60;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
}

.left {
    display: flex;
    padding: 0px 20px;
}


#menu-image {
    width: 25px;
    height: 25px;
}

#logo-btn {
    width: 50px;
}

#logo-image {
    width: 50px;
    height: 50px;
}

.title {
    font-size: 18px;
    margin-left: 10px;
}

.right {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding-right: 20px;
}

#settings-image {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.home-link, .account-link {
    padding: 0px 30px;
}


main {
    padding-top: 100px;
}