/* Categories */

.categories {
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-heading,
.subcat-heading {
    display: flex;
    justify-content: space-between;
    width: 774px;
}

.cat-heading {
    margin-top: 64px;
}

.cat-heading h1 {
    font-size: 26px;
}

.category-title {
    font-size: 18px;
}

.subcat-heading {
    display: flex;
    align-items: center;
}

.cat-selected h5 {
    font-size: 16px;
}

.categoryChosenImage {
    width: 400px;
    height: 250px;
    margin-top: 30px;
}

.add-cat,
.add-subcat {
    font-size: 14px;
    padding: 0 16px;
    height: 35px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    transition: 250ms;
}

.add-cat:hover,
.add-subcat:hover,
.cat-actions-button:hover {
    background-color: #f9f9f9;
    color: rgba(0, 0, 0, 0.75);
}

table {
    margin: 20px 0 50px;
}

.category-table{
    max-height: 300px;
    overflow-y: scroll;
    background-color: #1B233A;
}

.cat-tr-title,
.subcat-tr-title {
    display: grid;
    grid-template-columns: 240px 380px 150px;
}

.cat-tr-title {
    color: #fff;
}

.cat-th,
.subcat-th {
    display: flex;
    align-items: center;
    background-color: #1B233A;
    height: 55px;
    padding-left: 23px;
}

.subcat-th {
    background-color: #E1E1E1;
}

.cat-th-img img,
.subcat-th-img img {
    display: block;
}

.cat-th-title,
.subcat-th-title {
    margin-left: 12px;
}

.cat-tr-data,
.subcat-tr-data {
    display: grid;
    grid-template-columns: 240px 380px 150px;
    transition: 150ms;
}

td {
    display: flex;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid #CBCBCB;
    padding: 30px 0 30px;
    background-color: #FFFFFF;
    padding-left: 22px;
    height: 102px;
}

.cat-tr-data td:first-child,
.subcat-tr-data td:first-child {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.cat-tr-data td:last-child,
.subcat-tr-data td:last-child {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.cat-img,
.subcat-img {
    height: 80px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.cat-img img,
.subcat-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cat-actions {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.cat-actions-button {
    background-color: #D9D9D9;
    width: 80px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    padding: 4px 0;
}

.show-subcat-container {
    display: block;
}

.hide-subcat-container {
    display: none;
}


/* modal styling */

.show-modal {
    display: flex;
}

.hide-modal {
    display: none;
}

.verify-modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(217, 217, 217, 0.8);
    align-items: center;
    justify-content: center;
}

.verify-modal {
    width: 1200px;
    padding: 42px 60px;
    background-color: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.verify-modal input[type="text"] {
    font-size: 16px;
    padding: 10px 15px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1px solid #cbcbcb;
    outline: none;
}

.verify-modal input[type="file"] {
    padding: 8px 12px;
    margin-top: 10px;
    /* margin-bottom: 30px; */
}

.modal-title {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 600;
}

.modal-description {
    margin-bottom: 60px;   
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    /* gap: 150px; */
    margin-top: 50px;
}

.modal-button {
    font-size: 18px;
    padding: 10px 0;
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
}

.modal-button-cancel {
    border: 1px solid #cbcbcb;
}

.modal-button-cancel:hover {
    opacity: 0.35;
}

#confirm-verify {
    background-color: #FF803C;
    color: #fff;
}

#confirm-verify:hover {
    color: #1fa875;
}