* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 16px;
  
    text-decoration: none;
    outline: none;
    border: none;
  }
  
body {
    display: block;
}

/* login styling */

.invalidUsernamePassword-container {
  background-color: rgba(255,83,83, 0.9);
  transition: 100ms;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.require-UsernamePassword-container {
  background-color: #fdd133;
  transition: 100ms;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.invalidUsernamePassword-container p, .require-UsernamePassword-container p {
  color: #FFFFFF;
}

.loginContainer {
    display: flex;
    flex-grow: 1;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    /* column-gap: 80px; */
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
    background-color: #fafafa;
  }
  
  .loginContainer img {
    width: 470px;
    height: 310px;
    margin-right: 100px;
  }

  .loginContainer .formContainer {
    width: 400px;
    height: auto;
  }
  
  .loginContainer .formContainer main h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
  }
  
  .loginContainer .form {
    background-color: #fff;
    box-shadow: 1px 2px 8px 2px rgba(163,163,163, 0.3);
    padding: 30px 35px 35px 35px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 10px;
  }
  
  .loginContainer .form label {
    font-size: 15px;
  }
  
  .loginContainer input {
    display: block;
    width: 100%;
    border: 1px solid #cbcbcb;
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 8px;
    border-radius: 7px;
  }
  
  .loginContainer #username {
    margin: 8px 0 20px 0;
  }
  
  .loginContainer #loginButton {
    width: 100%;
    padding: 10px 0 10px 0;
    border-radius: 8px;
    color: #fff;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    box-shadow: 1px 2px 5px 2px rgba(163,163,163, 0.3);
    background-color: #FA7A17;
    cursor: pointer;
    transition: 150ms;
  }
  
  .loginContainer #loginButton:hover {
    transform: scale(1.02);
  }