* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
}

body {
    position: relative;
    background-color: #f9f9f9;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    color: black;
    font-size: 18px;
    transition: 250ms;
}

a:hover {
    color: #FF803C;
}

button {
    background: none;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 60;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
}

.left {
    display: flex;
    padding: 0px 20px;
}


#menu-image {
    width: 25px;
    height: 25px;
}

#logo-btn {
    width: 50px;
}

#logo-image {
    width: 50px;
    height: 50px;
}

.title {
    font-size: 18px;
    margin-left: 10px;
}

.right {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding-right: 20px;
}

#settings-image {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.home-link, .account-link {
    padding: 0px 30px;
}



/* side navigation */

.side-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    margin-left: -300px;
    height: 100%;
    transition: 500ms;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 2px 0 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
}


.close-btn-div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 10px;
}

#close-side-menu {
    display: flex;
    align-self: flex-end;
}

.arrow-left-menu {
    width: 30px;
    height: 30px;
}

.side-nav-menu {
    width: 100%;
    margin-top: 100px;
}

.menu {
    margin: 0 20px 30px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 250ms;
}

.menu:hover {
    background-color: #FF803C;
}

.menu:hover .menu-text {
    color: #fff;
}

.menu-icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.menu-text {
    transition: 250ms;
}

/* main body */

.body {
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 0 25px;
    padding-top: 150px;
    padding-bottom: 200px;
    /* background-color: burlywood; */
}

header h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.dashboard {
    margin-top: 50px;
}

.dashboard-overview {
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.dbo-box {
    /* flex: 1; */
    width: 350px;
    margin-top: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.overview-info {
    margin-left: 30px;
}

.overview-title {
    font-size: 28px;
}

.info1 {
    font-size: 14px;
    color: #434343;
}

.actions {
    margin-top: 50px;
}

.actions h2 {
    font-size: 18px;
}

.action-btn-container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    column-gap: 20px;
    margin-top: 25px;
}

.actionsHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.actionsHeader hr {
    width: 50%;
    height: 1px;
    text-align: center;
}

.actionsHeader h2 {
    margin: 0 15px 0 15px;
}

.action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 250ms;
}

.action-btn:hover {
    box-shadow: 4px 6px 10px 0 rgba(0,0,0,0.4);
}

.action-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
}

.action-text {
    text-align: center;
}
