* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
}

body {
    position: relative;
    background-color: #f9f9f9;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    color: black;
    font-size: 18px;
    transition: 250ms;
}

a:hover {
    color: #FF803C;
}

button {
    background: none;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 60;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
}

.left {
    display: flex;
    padding: 0px 20px;
}


#menu-image {
    width: 25px;
    height: 25px;
}

#logo-btn {
    width: 50px;
}

#logo-image {
    width: 50px;
    height: 50px;
}

.title {
    font-size: 18px;
    margin-left: 10px;
}

.right {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding-right: 20px;
}

#settings-image {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.home-link, .account-link {
    padding: 0px 30px;
}



/* side navigation */

.side-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    margin-left: -300px;
    height: 100%;
    transition: 500ms;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 2px 0 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
}


.close-btn-div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 10px;
}

#close-side-menu {
    display: flex;
    align-self: flex-end;
}

.arrow-left-menu {
    width: 30px;
    height: 30px;
}

.side-nav-menu {
    width: 100%;
    margin-top: 100px;
}

.menu {
    margin: 0 20px 30px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 250ms;
}

.menu:hover {
    background-color: #FF803C;
}

.menu:hover .menu-text {
    color: #fff;
}

.menu-icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.menu-text {
    transition: 250ms;
}

/* main body */

.body {
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 0 25px;
    padding-top: 120px;
    padding-bottom: 200px;
    /* background-color: burlywood; */
}

header h1 {
    font-size: 30px;
    font-weight: 600;
}

.dashboard {
    margin-top: 50px;
}

.dashboard-overview {
    flex-wrap: wrap;
    gap: 12px;
}

.dbo-box {
    flex: 1;
    margin-top: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.overview-info {
    margin-left: 30px;
}

.overview-title {
    font-size: 28px;
}

.info1 {
    font-size: 14px;
    color: #434343;
}

.actions {
    margin-top: 50px;
}

.actions h2 {
    font-size: 18px;
}

.action-btn-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 250ms;
}

.action-btn:hover {
    box-shadow: 4px 6px 10px 0 rgba(0,0,0,0.4);
}

.action-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
}

.action-text {
    text-align: center;
}

/* User Report */

.user-report {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report {
    margin-top: 40px;
    padding: 34px 52px;
    width: 1000px;
    border: 1px solid #434343;
    border-radius: 10px;
    background-color: #FBFBFB;
}

.report-title {
    font-size: 40px;
}

.report-date-reporter {
    margin: 10px 0 30px;
    font-size: 18px;
    color: #434343;
}

.dot {
    margin: 0 10px;
}

.report-user-container {
    margin: 10px 0 30px;
    display: inline-flex;
    padding: 7px 15px 7px 12px;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
}

.report-user-container img {
    display: block;
}

.report-user-info {
    margin: 0 15px 0 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.report-user-info-add {
    display: flex;
    font-size: 10.5px;
}

.report-user-info-add .dot {
    margin: 0 5px;
}

.strike-number {
    color: #FF803C;
    font-weight: bolder;
}

.report-user-view-profile {
    font-size: 10.5px;
    background-color: #D9D9D9;
    border-radius: 3px;
    padding: 0 14px;
    height: 20px;
    margin: auto;
}

.report-description {
    margin-top: 10px;
    color: #434343;
}

.report-buttons {
    margin-top: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.button-permanent {
    background-color: #FF5353;
    width: 186px;
    height: 40px;
    border: 1px solid #FF5353;
    border-radius: 10px;
    color: #fff;
}

.button-penalize {
    background-color: #F2C72C;
    width: 186px;
    height: 40px;
    border: 1px solid #F2C72C;
    margin: 0 20px;
    border-radius: 10px;
    color: #fff;
}

.button-dismiss {
    background-color: #FEFEFE;
    width: 186px;
    height: 40px;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    color: #434343;
}
