/* User Reports */

.user-reports {
    padding: 100px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-reports h1 {
    font-size: 30px;
}

.reports-tr-title {
    display: grid;
    grid-template-columns: 265px 150px 347px 140px;
    margin-top: 80px;
}

.reports-th {
    display: flex;
    align-items: center;
    background-color: #E1E1E1;
    height: 55px;
    padding-left: 23px;
}

.reports-th-img img {
    display: block;
}

.reports-th-title {
    margin-left: 12px;
}

.reports-tr-data {
    display: grid;
    grid-template-columns: 265px 150px 347px 140px;
    transition: 150ms;
    cursor: pointer;
}

.reports-tr-data:hover {
    background-color: #000;
    box-shadow: 0 4px 8px rgba(65, 64, 64, 0.3);
    transform: scale(1.01);
}

td {
    display: flex;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid #CBCBCB;
    padding: 30px 0 30px 23px;
    background-color: #FFFFFF;
}

td p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reports-tr-data td:nth-child(2) {
    font-size: 14px;
}

.reports-tr-data td:last-child {
    display: flex;
    justify-content: center;
    padding-left: 0;
}
